/* Sticky Footer Start */
html {
  position:relative;
  min-height:100%;
}

body {
  margin-bottom:60px;
}

.sticky-footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  line-height:60px;
  background-color:#E0EBF5;
}
/* Sticky Footer End */

/* Navbar Start */
.navbar {
  background-color:#E0EBF5 !important;
}
/* Navbar End */

/* General Start */
.btn {
  cursor:pointer;
}
/* General End */
