# IGNORE GENERATED BINARIES
main
gpanel

# IGNORE ALL BUNDLES EXCEPT FOR DEFAULT_BUNDLE
bundles/*
!bundles/default_bundle

# IGNORE ALL FILES IN /LOG EXCEPT README
**/logs/*
!**/logs/README.md

# IGNORE .DB FILES
**.db

# IGNORE OSX FINDER FILES
**.DS_Store

# IGNORE GOLAND IDE DIRECTORY
.idea/
